@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbar{
  background-color: #14463a;
  font-weight: 400;
}

#cabecalho .nav  .nav-link.active{
background-color:#2f9a74;
color: #14463a;
font-family: "Poppins", sans-serif;
}

#cabecalho .nav  .nav-link.active:hover{
  background-color:#F2E6DF;
 
  }


#cabecalho .navbar-brand {
  font-family: "Homemade Apple", cursive;
  font-size: 1.5rem;
}

#cabecalho .nav 
.nav-link,
.navbar-brand,
.navbar-brand:hover{
  color:#F2E6DF; 
}


.navbar-toggler {
  background-color: #2f9a74;
}

.section-title {
  font-family: "Homemade Apple", cursive;
  color: #14463a;
}

.text-style {
  font-family: "Poppins", sans-serif;
}

#sobre, #cardapio {
  background-color: #effaf5;
}

.nav-cardapio .nav-link.active, #contato button{
  background-color: #14463a;
  color: #2e9b7a;
}

.nav-cardapio .nav-link{
  color: #2e9b7a;
}

.nav-cardapio .nav-link:hover,
#contato button {
  color:#2e9b7a;
}

.social-links  li {
  list-style: none;
  display: inline;
}

#contato button:hover {
  background-color: #2e9b7a;
  color: #14463a;
}

.social-links  a {
  text-decoration: none;
}

.text-color {
color: #14463a;
}


@media (max-width: 767px) {
  .carousel-item img {
    height: 180px;
  }

  
  
}