@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Seaweed+Script&display=swap');


.navbar{
  background-color: #14463a;
  font-weight: 400;
}

.nav  .nav-link.active{
background-color:#2f9a74;
color: #14463a;
font-family: "Poppins", sans-serif;
}
.nav  .nav-link.active:hover{
  background-color:#F2E6DF;
 
  
  }


.navbar-brand {
  font-family: "Seaweed Script", cursive;
  font-size: 2rem;
}

.nav  .nav-link,
.navbar-brand,
.navbar-brand:hover{
  color:#F2E6DF; 
}


.navbar-toggler {
  background-color: #2f9a74;
}

.section-title {
  font-family:"Poppins", sans-serif;
  color: #14463a;
}